segmentation_dataset/*
EgoHandsPublic.v1-specific.yolov5pytorch/*
EgoHandsPublic.v1-specific.yolov5pytorch.zip/*
seg_model_9.pt
model_second_acc_15.pt
model_second_acc_20.pt
model_second_acc_25.pt
seg_model.zip
yolov5/*
runs/*
runs_10s/+
.idea
