segmentation_dataset/*
RefineNet_model/.ipynb_checkpoints/*
EgoHandsPublic.v1-specific.yolov5pytorch/*
EgoHandsPublic.v1-specific.yolov5pytorch.zip
seg_model_9.pt
model_second_acc_15.pt
model_second_acc_20.pt
model_second_acc_25.pt
seg_model.zip
runs/*
runs_10s/*
trained_models/*
.idea
webcam_data/*
yolov5_best_model/*
fingertip_detection/yolov5s.pt
